{% extends 'base.html' %}
{% load static %}

{% block content %}		

<div class="about">
	<h2 class="subpage-header">About</h2>	
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta optio, reprehenderit id quam possimus repudiandae. Obcaecati optio aperiam ducimus corrupti non, earum itaque repellat vero incidunt laborum omnis hic facilis alias laboriosam explicabo et debitis possimus tempora exercitationem reprehenderit asperiores ipsam! Vero velit, deserunt esse nam repellat aliquam cum qui.</p>
	<br><br>
	<!-- <div class="button-standard">go back!</div> -->
	<a class="button-standard" href="#">Test Button</a>

</div>
			
{% endblock content %}