{% extends 'base.html' %}
{% load static %}

{% block title %}About | DataScienceVault - All the data you need.{% endblock title %}

{% block content %}		
<div class="about">
	<h2 class="subpage-header">About</h2>	
	<p>Data Science Vault is a project that collects in one place all the high-quality blogs about Data Science, Machine Learning, Deep Learning, Artificial Intelligence (AI), Big Data, Analytics and everything around.</p>
	<br><br>
</div>
{% endblock content %}

{% block content-right %}
	{% include 'includes/content-right-adv01.html' %}
{% endblock content-right %}