{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>

	<meta charset="UTF-8">
	<title>{% block title %}DataHub - All the data.{% endblock title %}</title>
	<link rel="shortcut icon" type="image/x-icon" href="{% static 'img/fav.ico' %}" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="x-apple-disable-message-reformatting" />
	<meta name="referrer" content="origin">
	<meta http-equiv="Content-Language" content="en-us">
	<meta name="google" value="notranslate">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta http-equiv="cleartype" content="on">
	<meta name="HandheldFriendly" content="true">
	<meta name="robots" content="index,follow">
	<link rel="sitemap" type="application/xml" title="Sitemap" href="/sitemap.xml" />
	<!-- bing seo -->
	<meta name="geo.placename" content="United States" />
	<meta name="geo.position" content="x;x" />
	<meta name="geo.region" content="usa" />
	<meta name="ICBM" content="x,x" />

	{% block meta %}{% endblock meta %}

	<link rel="stylesheet" href="{% static 'css/styles.css' %}">
	<link rel="stylesheet" href="{% static 'css/styles-mobile.css' %}">

	<meta http-equiv="pragma" content="no-cache">
	<meta http-equiv="cache-control" content="no-cache">
	<meta http-equiv="expires" content="0">

	<link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">

	<!-- analytics goes here -->

</head>


<body>

<div class="wrapper">
	<header class="top">
		<div class="top__slogan">All the data you ever need.</div>
		<a class="top__logo" href="{% url 'home' %}"><img src="{% static 'img/logo.png' %}" alt="logo"></a>
		<nav class="top__nav">

			<ul class="web-nav">
				<li><a href="{% url 'tags_list' %}">Tags</a></li>
				<li><a href="{% url 'about' %}">About</a></li>
			</ul>
		</nav>
		
	</header>
	
	<div class="content">
		{% block content %}
		{% endblock content %}
	

		<div class="content-right">
			<div class="content-right__adv">
				<img src="{% static 'img/adv10.jpg' %}" alt="">
			</div>
			{% block right %}
			{% endblock right %}
		</div>
	</div>


	
	<footer class="footer">

			<!-- <img src="{% static 'img/footer-eye.png' %}"" alt="" class="footer-img"> -->
			<div class="footer-text">
				©<br>
				DataHub.<br>
				All rights reserved.<br>
				2018
			</div>
			<div class="footer__links">
				<a href="{% url 'about' %}">About</a>
				<a href="mailto:datahub@gmail.com">Contact</a>
			</div>
			<div class="footer__social">
				<a href="https://twitter.com/qu4ku">Facebook</a>
				<a href="https://twitter.com/qu4ku">Twitter</a>
			</div>
		</footer>



</body>
</html>