{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{% block title %}DataScienceVault - All the data you need.{% endblock title %}</title>
	<meta name="description" content="{% block seo_description %}All the high-quality articles about Data Science, Machine Learning, Deep Learning, Artificial Intelligence (AI), Big Data, Analytics gathered in one place.{% endblock %}">
	
	<!-- <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/fav.ico' %}" /> -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="x-apple-disable-message-reformatting" />

	<meta name="referrer" content="origin">
	<meta http-equiv="Content-Language" content="en-us">
	<meta name="google" value="notranslate">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta http-equiv="cleartype" content="on">
	<meta name="HandheldFriendly" content="true">
	<meta name="robots" content="index,follow">
	<link rel="sitemap" type="application/xml" title="Sitemap" href="/sitemap.xml" />
	<!-- bing seo -->
	<meta name="geo.placename" content="United States" />
	<meta name="geo.position" content="x;x" />
	<meta name="geo.region" content="usa" />
	<meta name="ICBM" content="x,x" />

	{% block head %}{% endblock head %}

	<link rel="stylesheet" href="{% static 'css/styles.css' %}">
	<link rel="stylesheet" href="{% static 'css/styles-mobile.css' %}">

	<link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,700" rel="stylesheet">

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-121874614-1"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'UA-121874614-1');
	</script>
	
	<!-- adsense -->
	<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
	<script>
		(adsbygoogle = window.adsbygoogle || []).push({
			google_ad_client: "ca-pub-6485834334873496",
			enable_page_level_ads: true
		});
	</script>
</head>


<body>

<div class="wrapper">
	<header class="top">
		<div class="top__slogan mobile-hide">All the data you need.</div>
		<!-- <a class="top__logo" href="{% url 'home' %}"><img src="{% static 'img/logo2.svg' %}" alt="logo"></a> -->
		<a class="top__logo" href="{% url 'home' %}">Data Science Vault</a>
		

		<input id="toggle-search" type="checkbox">
		<input id="toggle-menu" type="checkbox">

		<div class="menu-overlay">
			<ul class="menu-container">
				<li><a href="{% url 'home' %}">Home</a></li>
				<li><a href="{% url 'tags_list' %}">Tags</a></li>
				<li><a href="{% url 'about' %}">About</a></li>
				<li class="mobile-search"><label for="toggle-search">Search</a></li>
				<li><label for="toggle-menu" class="menu-off">&#215</label></li>
			</ul>
		</div>

		<div class="search-overlay">
			<label for="toggle-search" class="search-off">&#215</label>
			<form action="{% url 'search' %}" method="get">
				<input name="q" value="{{ request.GET.g }}" type="search" autofocus class="search-input" autofocus placeholder="Start typing and press enter.">
			</form>
		</div>

		<nav class="top__nav">

			<ul class="web-nav">
				<li><label for="toggle-search"><img class="search-icon" src="{% static 'img/search-icon-small.png' %}" alt="search icon"></li>

				<li><a href="{% url 'tags_list' %}">Tags</a></li>
				<li><a href="{% url 'about' %}">About</a></li>
			</ul>

			<ul class="mobile-nav">
				<li class="menu-on"><a href="#"><label for="toggle-menu">Menu</label></a></li>
			</ul>
		</nav>
		
	</header>
	
	<div class="content">
		{% block content %}
		{% endblock content %}
	

		<div class="content-right">
			
			{% block content-right %}
			{% endblock content-right %}
		</div>
	</div>


	
	<footer class="footer">

			<!-- <img src="{% static 'img/footer-eye.png' %}"" alt="" class="footer-img"> -->
			<div class="footer-text">
				© <br>
				DataHub.<br>
				All rights reserved.<br>
				2018
			</div>
			<div class="footer__links">
				<a href="{% url 'about' %}">About</a>
				<a href="{% url 'tags_list' %}">Tags</a>
				<a href="mailto:datasciencevault@gmail.com">Contact</a>
			</div>
			<div class="footer__author">
				<p class="footer__author__created">Created by: <a class="deltabaryon" href="https://twitter.com/qu4ku" target="_blank">Q4</a></p>
				<p>Sponsored by: <a class="deltabaryon" href="http://deltabaryon.com/" target="_blank">Delta Baryon</a></p>
			</div>
			<div class="footer__social">
				<a href="https://twitter.com/ds_vault" target="_blank">Twitter</a>
			</div>
		</footer>


	<script id="dsq-count-scr" src="//data-science-vault.disqus.com/count.js" async></script>
</body>
</html>