{% extends 'base.html' %}
{% load static %}

{% block content %}		

<div class="posts">
	
	{% for post in posts %}
	<div class="post"> <!-- post-start -->
		<a href="{{ post.source_url }}" target="_blank" rel="nofollow"><div class="post__header">{{ post.title }}</div></a>
		<div class="post__body">{{ post.content|truncatewords:50 }}</div>
		<div class="post__info">

			{% include 'includes/social.html' %}
			
			<div class="post__info__source"><a href="{{ post.feed.url }}" rel="nofollow">{{ post.feed.url_display }}</a></div>
			<div class="post__info__date">
				<a class="comments" href="{{ post.get_absolute_url }}#disqus_thread">Comments</a>				
				<div>{{ post.date }}</div>
			</div>
		</div>
		<div class="post__line"></div>
	</div> <!-- end-post -->
	{% endfor %}

	{% include 'includes/pagination.html' %}
</div>
		
{% endblock content %}

{% block content-right %}
	{% include 'includes/content-right-adv01.html' %}
	{% include 'includes/content-right-tags.html' %}

	<div class="content-right__adv mobile-hide content-right__adv--second">
		<a href="https://knowledgeprotocol.com/" target="_blank"><img src="{% static 'img/adv-280x280-kp-01.jpg' %}" alt="knowledge protocol website adv"></a>
	</div>

	<div class="content-right__adv mobile-display content-right__adv--second">
		<a href="https://knowledgeprotocol.com/" target="_blank">
			<img src="{% static 'img/adv-640x640-kp-01.jpg' %}" alt="knowledge protocol website adv">
		</a>
	</div>


{% endblock content-right %}