{% extends 'base.html' %}
{% load static %}

{% block title %} {% if book_category.seo_title %}{{ book_category.seo_title }} {% else %}{{ book_category.title }}{% endif %} | DataScienceVault - All the books you need.{% endblock title %}

{% block content %}	

<div class="content content-books">
	<div class="books">
		<h1>{{ book_category.headline }}</h1>
		<h2>{{ book_category.description }}</h2>	

		{% if book_categories %}
			<div class="book-categories">
				<h3 class="book-categories-title">Categories:</h3>
				<a class="book-category" href="{% url 'books' %}"><h3>Selected Books</h3></a>
				{% for category in book_categories %}
					<a class="book-category" href="{{ category.get_absolute_url }}"><div>{{ category.title }}</div></a>
				{% endfor %}
			</div>
		{% else %}
			<div class="book-categories">
				<h3 class="book-categories-title">See:</h3>
				<a class="book-category" href="{% url 'books' %}"><div>Selected Books</div></a>
			</div>
		{% endif %}


		{% for book in books %}
		<div class="book">
			<a href="{{ book.url }}" target="_blank" rel="noopener noreferrer"><img class="book__image" src="{{ book.book_image.url }}" alt="data science book cover"></a>
			<div class="book__content">
				<a href="{{ book.url }}" target="_blank" rel="noopener noreferrer"><h3 class="book__content__title">{{ book.title }}</h3></a>
				<div class="book__content__author">Author: {{ book.author }}{% if book.publication_date %} ({{ book.get_publication_year }}){% endif %}</div>
				<div class="book__content__rating">Goodreads Rating: {{ book.rating_goodreads }}/5</div>
				<div class="book__content__description">{{ book.description }}</div>
				<a class="button-amazon" href="{{ book.url }}" target="_blank" rel="noopener noreferrer">View on Amazon</a>
			</div>
		</div>
		<div class="book-separator"></div>
		{% endfor %}
	</div>
</div>


{% endblock content %}
