{% extends 'base.html' %}
{% load static %}

{% block title %}The Best Data Science Books | DataScienceVault - All the books you need.{% endblock title %}

{% block content %}		
<div class="books">
	<h1>Selection of the Best Data Science Books</h1>
	<h2>Top Data Science books recommendations from industry practitioners. Below is a general selection — check categories for more topics. </h2>	

	{% if categories %}
		<div class="categories">
			<h3 class="categories-title">Categories:</h3>
			{% for category in categories %}
				<a class="category" href="{{ category.get_absolute_url }}"><h3>{{ category.title }}</h3></a>
			{% endfor %}
		</div>
	{% endif %}

	{% for book in books %}
	<div class="book">
		<a href="{{ book.url }}" target="_blank" rel="noopener noreferrer"><img class="book__image" src="{{ book.book_image.url }}" alt="data science book cover"></a>
		<div class="book__content">
			<a href="{{ book.url }}" target="_blank" rel="noopener noreferrer"><h3 class="book__content__title">{{ book.title }}</h3></a>
			<div class="book__content__author">Author: {{ book.author }}{% if book.publication_date %} ({{ book.get_publication_year }}){% endif %}</div>
			<div class="book__content__rating">Goodreads Rating: {{ book.rating_goodreads }}/5</div>
			<div class="book__content__description">{{ book.description }}</div>
			<a class="button-amazon" href="{{ book.url }}" target="_blank" rel="noopener noreferrer">View on Amazon</a>
		</div>
	</div>
	<div class="book-separator"></div>
	{% endfor %}


</div>

<style type="text/css" media="screen">

.content {
	grid-template-columns: 1fr;
}

.content-right {
	display: none;
}

</style>

{% endblock content %}

{% block content-right %}
	{% include 'includes/content-right-adv01.html' %}
{% endblock content-right %}