{% load static %}

<div class="post__info__social"> 
	<a href="http://www.facebook.com/share.php?u={{ post.source_url }}&title={{ post.title|urlencode }} via https://datasciencehub.com">
		<img class="social-icon" src="{% static 'img/icons/fb.png' %}" alt="facebook social icon">
	</a>
	<a href="http://twitter.com/home?status={{ post.title|urlencode }}+{{ post.source_url }}%20via%20https%3A%2F%2Fdatasciencehub.com">
		<img class="social-icon" src="{% static 'img/icons/tw.png' %}" alt="twitter social icon">
	</a>
	<a href="http://www.linkedin.com/shareArticle?mini=true&url={{ post.source_url }}&title={{ post.title|urlencode }}&source=https://datasciencehub.com" >
	<img class="social-icon" src="{% static 'img/icons/ln.png' %}" alt="linkedin social icon">
	</a>
	<a href="{{ post.get_absolute_url }}"><img class="social-icon" src="{% static 'img/icons/link.png' %}" alt="icon"></a>
</div>


